{% extends 'common/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center">User Profile</h1>
                <p class="text-center">USER: {{ user.id }}</p>
                <p class="text-center">Email: {{ user.email }}</p>
                <div class="text-center">
                    <a href="{% url 'code_files:file_list' %}" class="btn btn-primary btn-lg">To the files</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
