body {
    background: url("../img/wallpaper.webp") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-top: 56px;
}

#start-review-btn, #main-sign-in-btn {
    background-color: #23364e;
    border-color: #23364e;
    color: white;
}

#start-review-link, #main-sign-in-link {
    text-decoration: none;
    color: white;
}
